{% extends "base.html" %}

{% block content %}
            <form method="post" action="/add_post/" class="addd">
            {% csrf_token %}
                {% for field in form %}
                    <div class="m-3">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input class="m-3 submit" type="submit" value="Submit">
            </form>

    <style>
        .addd {
            display: grid;
        }

        .submit {
            width: 200px;
        }
    </style>
{% endblock %}
